<% include ./partials/header.ejs %>
<div class="w-full h-screen bg-gradient-to-r from-cyan-500 to-blue-500 flex items-center justify-center">
    <div class="w-96 h-[67vh] bg-zinc-400 px-4 py-6 rounded-lg">
      <h1 class="text-orange-600 text-2xl text-center tracking-tight">जय श्री राम</h1>
      <h1 class="text-3xl   leading-none tracking-tight">Create New Account</h1>
      <form action="/register" method="post">
        <input class="block mt-2 w-full px-3 py-2 rounded-lg" type="text" placeholder="username" name="username">
        <input class="block mt-2 w-full px-3 py-2 rounded-lg" type="email" placeholder="email" name="email">
        <input class="block mt-2 w-full px-3 py-2 rounded-lg" type="number" placeholder="contact" name="contact">
        <input class="block mt-2 w-full px-3 py-2 rounded-lg" type="password" placeholder="password" name="password">
        
       
        <input class="block mt-5 w-full px-3 py-2 bg-orange-600 text-white rounded-full" type="submit" value="Create New Account">
       
      </form>
      <a class=" inline-block my-2 mx-3 text-red-800 font-semibold " href="/">LogIn Exiting Field</a>
      
   
    
  </div>
  </div>
  
<% include ./partials/footer.ejs %>